<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title> Blog Fourier Saint </title>
</head>
<body>

            <div>
                <h1><a href="#">Blog Saint Fourier</a></h1>
            </div>

            {% for post in posts %}

                <div>
                    <p> Author : {{ post.author }}</p>
                    <p> <a href="#">Title :  {{ post.title }}</a></p>
                    <p> Texte :  {{ post.test | linebreaksbr}}</p>
                    <p> Create date :  {{ post.create_date }}</p>
                    <p> publié : {{ post.published_date }}</p>
                </div>
            {% endfor %}
</body>
</html>